@import '@material/elevation/_mixins.scss';

:host {

  @include mdc-elevation(2);

  display: block;
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate3d(-50%, -60%, 0);

  min-width: 100px;
  min-height: 100px;
  max-width: 90%;
  max-height: 80%;

  background-color: #FFFFFF;
}
