@import '@material/elevation/_mixins.scss';

:host {
  @include mdc-elevation(24);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  display: flex;
  flex-direction: column;

  min-width: 280px;
  min-height: 120px;
  max-width: 90%;
  max-height: 80%;

  background-color: #FFFFFF;
  pointer-events: all;
}

article {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.wrapper {
  position: relative;
  flex-grow: 1;
  min-height: 0;

  display: flex;
  flex-direction: column;
}

section {
  min-height: 0;
  overflow: auto;
  height: 100%;
  z-index: 1;
}

.shadow {
  position: absolute;
  left: 0;
  width: 100%;
  height: 12px;
  pointer-events: none;

  opacity: 0;
  transition: opacity 120ms ease-out;
}

.top-shadow {
  @extend .shadow;

  top: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 30%, transparent);

  &[active] {
    opacity: 1;
  }
}

.bottom-shadow {
  @extend .shadow;

  // Take decision if we should have a bottom shadow enabled?
  display: none;

  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.15) 70%, rgba(0, 0, 0, 0.3) 100%);

  &[active] {
    opacity: 1;
  }
}

.top-sentinel,
.bottom-sentinel {
  height: 1px;
}
