@import '@material/elevation/_mixins.scss';

:host {

  --background: #FFFFFF;

  display: flex;
  flex-direction: column;
  min-width: 112px;

  position: fixed;
  opacity: 0;

  overflow-y: auto;

  transform: scale(0.1);

  transition:
    opacity 0.06s linear,
    transform 0.12s cubic-bezier(0, 0, 0.2, 1);

  @include mdc-elevation(1);

  background-color: var(--background);
}

:host(.open) {
  transition:
    opacity 0.03s linear,
    transform 0.12s cubic-bezier(0, 0, 0.2, 1);

  opacity: 1;
  transform: scale(1);
}
