:host {
  display: block;
  padding: 0.5rem 1rem;

}

:host(.divider) {
  height: 0;
  overflow: hidden;
  padding: 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

:host(:focus) {
  // outline: none;
}

:host(:hover) {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.12);
}
