:host {
  display: block;
  padding: 0.5rem 1rem;

  transition: background-color 75ms ease-out;
}

:host(.divider) {
  pointer-events: none;
  height: 0;
  overflow: hidden;
  padding: 0;

  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

:host(:hover) {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

:host([highlight]) {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.12);
}

:host(:focus) {
  outline: none;
  background-color: rgba(0, 0, 0, 0.24);
}

:host([disabled]) {
  pointer-events: none;
  color: #888888;

  user-select: none;
}
